<h1>Hi</h1>

<h3>Enter a Github handle below to see that user's portfolio.</h3>

<input type="text" name="reponame" id="reponame" placeholder="github handle" />
<a href="#" onclick="this.href=document.getElementById('reponame').value">Go</a>
